h1 {
  font-family: $spectral;
}

.main-title {
  margin-top:1.5em;
}

.main-ssl btn {
  margin-bottom:1em;
}

.green {
  color:#5cb85c;
}

.red {
  color:#d9534f;
}

.yellow {
  color:#f0ad4e;
}

#btn-logout , .authenticated-view{
  display:none;
}

#btn-logout , #btn-login{
  margin-top:1em;
}

#page-header {
  height: 78px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #008fe2), color-stop(100%, #00b29c));
  background: -webkit-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
  background: -o-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
  background: -ms-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
  background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
  margin-bottom:10px;
}
